doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(href='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js')
  body
    block content
